button {
    margin-right: 8px;
  }
  
.cancel_button {
  background-color: rgb(248, 246, 246);
}

.cancel_button :hover{
  background-color: rgb(170, 167, 167);
}

.page-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.page-info {
  margin-left: 10px;
}

.evaluate_button {
  background-color: rgba(19, 38, 89, 0.146);


}

.evaluate_button:hover {
  background-color: rgba(19, 38, 89, 0.289);
}

